
body{
  background-image: linear-gradient(to right, black, grey);
  background-attachment: fixed;
}
h1{
color: white;
text-align:center;
font-style: italic;
font-family: URW Chancery L;
font-size: 100px
}
h2{
color: white;
text-align:center;
font-style: italic;
font-family: URW Chancery L;
}
td{
color: white;
text-align:center;
font-style: italic;
font-family: URW Chancery L;
}
p {
  color: white;
  text-align: center;
  font-style: italic;
  font-family: URW Chancery L;
  font-size: 30px
}
table{
  align-content: center;
}
